<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h2 style="color: blueviolet;">This Is Your Dashboard</h2>
    <a href="/product/all">Show Products</a>
    <a href="/">logout</a>
</body>
</html>